/***** Roundcube|Mail login styles of mobile4alw *****/
body {
  background-color: #F6F6F6;
}
td, th, input, div
{
  font-family: Tahoma, "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #666;
}
#message
{
  position: absolute;
/*  display: none;*/
  top: -1px;
  left: 50%;
  z-index: 5000;
  opacity: 0.85;
}

#message div
{
  margin: 0px;
  min-height: 32px;
  border: 1px solid #999;
  padding: 8px 5px 8px 40px;
}

#message div.notice,
#remote-objects-message
{
  background: url(images/display/icons.png) 6px 3px no-repeat;
  background-color: #F7FDCB;
  border-color: #C2D071;
}

#message div.error,
#message div.warning
{
  background: url(images/display/icons.png) 6px -97px no-repeat;
  background-color: #EF9398;
  border-color: #DC5757;
}

#message div.confirmation
{
  background: url(images/display/icons.png) 6px -47px no-repeat;
  background-color: #A6EF7B;
  border-color: #76C83F;
}

#message div.loading
{
  background: url(images/display/loading.gif) 6px 3px no-repeat;
  background-color: #EBEBEB;
  border-color: #CCCCCC;
}

#login-form
{
  padding-top: 10%;
}
#login-form table
{
  margin: auto;
}
#login-form table td.title
{
  text-align: right;
  white-space: nowrap;
}
.boxcontent {
  font-weight: bold;
}
.login-button {
  text-align: center;
}
input
{
  height: 36px;
  min-width: 116px;
  padding: 1px 3px;
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
}
input.button
{
  font-weight: bold;
}
